*~
Md_Tex_pandoc/*.pdf
*.iso
docker/*.tar*
easyconnect-in-docker/ECDATA/*
__pycache__/
linuxqq/*.deb
linuxqq/LiteLoaderQQNT-*.zip
*.src.tar.gz
*.pkg.tar.xz
*.pkg.tar.zst
create-ap/transocks
ffmpeg-flv-hevc-support/1*-*.patch
