[Unit]
Description=Synergy Server Daemon
After=network.target

[Service]
ExecStart=/usr/bin/synergys --no-daemon --config %h/.synergy/synergy.conf --enable-crypto
Restart=on-failure

[Install]
WantedBy=default.target
